@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 142.1 76.2% 36.3%;

    --card: 0 0% 3.9%;
    --card-foreground: 142.1 76.2% 36.3%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 142.1 76.2% 36.3%;

    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 142.1 76.2% 36.3%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 142.1 70% 30%;

    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 142.1 76.2% 36.3%;
    --input: 142.1 76.2% 36.3%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 142.1 76.2% 36.3%;

    --card: 0 0% 3.9%;
    --card-foreground: 142.1 76.2% 36.3%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 142.1 76.2% 36.3%;

    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 142.1 76.2% 36.3%;

    --muted: 0 0% 15%;
    --muted-foreground: 142.1 70% 30%;

    --accent: 0 0% 15%;
    --accent-foreground: 142.1 76.2% 36.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 142.1 76.2% 36.3%;
    --input: 142.1 76.2% 36.3%;
    --ring: 142.1 76.2% 36.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
